<h1>FavouriteLanguageGuess#index</h1>
<p>Find me in app/views/favourite_language_guess/index.html.erb</p>

<form action='/guess' method='GET'>
  <label for='username'>Github username:</label>
  <input type='text' name='username' />
  <input type='submit' value='Guess' />
</form>
