<h1>FavouriteLanguageGuess#show</h1>
<p>Find me in app/views/favourite_language_guess/show.html.erb</p>

<%= react_component('FavouriteLanguage', language: language, username: username) %>
<%= react_component('GithubUserCard', github_user) %>
